include MANIFEST.in
include NEWS
include README.md
include TROUBLESHOOTING
include COPYING
include sdaps.py
include tex/class/*.dtx
include tex/class/*.ins
include tex/class/*.lua
include tex/class/*.tex
include tex/class/*.sty
include tex/class/examples/*.tex
include tex/class/testfiles/*.lvt
include tex/class/testfiles/*.tlg
recursive-include sdaps *.py *.ui *.c *.h
recursive-include po *.pot POTFILES.skip POTFILES.in *.po
recursive-include tex/po *.pot POTFILES.skip POTFILES.in *.po
include test/run-test.sh
include test/run-test-locally.sh
recursive-include test/data *.internetquestions *.odt *.pdf *.tif
recursive-include test/data *.tex *.csv questionnaire_ids
recursive-include test/data/info_files *
include custom-scripts/README
recursive-include custom-scripts *.py
include examples/example.tex
include examples/example.tif
include test/data/tex/code128_test_ids
include tex/tex_translations.in
