Source: sdaps
Maintainer: Benjamin Berg <benjamin@sipsolutions.net>
Section: python
Priority: optional
X-Python3-Version: >= 3.6
Build-Depends: python3, python3-dev, libtiff5-dev | libtiff4-dev,
 pkg-config, python3-distutils-extra, python3-pkg-resources, python3-cairo-dev,
 libcairo2-dev, libglib2.0-dev, debhelper (>= 7.4.3),
 python3-pil, python3-reportlab, zbar-tools,
 texlive, texlive-generic-recommended, pgf | texlive-pictures (>= 2017.20170808),
 latex-beamer | texlive-latex-recommended (>= 2017.20170808),
 texlive-lang-ukenglish | texlive-lang-english, texlive-latex-extra, texlive-science,
 gir1.2-poppler-0.18, python3-opencv, python3-gi-cairo
Standards-Version: 3.9.4

Package: sdaps
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends},
 python3-cairo, python3-gi, python3-pil,
 python3-reportlab, python3-gi-cairo, zbar-tools
Recommends: gir1.2-gtk-3.0 | gir1.0-gtk-3.0, texlive, texlive-latex-extra,
 texlive-generic-recommended, pgf | texlive-pictures (>= 2017.20170808),
 latex-beamer | texlive-latex-recommended (>= 2017.20170808),
 texlive-lang-ukenglish | texlive-lang-english, texlive-science,
 gir1.2-poppler-0.18, python3-opencv, texlive-science
Suggests: libtiff-tools, imagemagick, sane-utils
Description: Scripts for data acquisition with paper based surveys
 .
 SDAPS is a tool to carry out paper based surveys. You can create machine
 readable questionnaires using LaTeX. It also provides the tools to later
 analyse the scanned data, and create a report.
 .
