#!/usr/bin/make -f

BUILDDIR = $(CURDIR)/obj-$(DEB_HOST_GNU_TYPE)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIG_ARGS)

override_dh_auto_test:
	dh_auto_test -- -C $(BUILDDIR) --timeout-multiplier 5

override_dh_auto_clean:
	rm -rf tests/__pycache__
	dh_auto_clean
